@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">On cherche la solution ? :)</h1>
    <p>Encore un <a href="https://docs.microsoft.com/aspnet/core">petit effort !</a>.</p>

    <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>

    

</div>

<img src="B3_Modules.png" />