@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">On cherche la solution ? :)</h1>
    <p>Encore un <a href="https://docs.microsoft.com/aspnet/core">petit effort !</a>.</p>

    <input type="file" id="avatar" name="avatar">
</div>
